@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your private data will never be shared with third parties or affiliates except in cases where we really want to share your data in which case it will all be shared. By reading this policy you agree to hold MyGiftReg not accountable for any accidental data breaches, intentional data breaches, or flagrant criminal action taken against you. We value your privacy, which is why we think it will get us a big payout when we sell it to the highest bidder.</p>
